.container {
    background-color: var(--navbar-bg);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* Remove padding from here */
}

.inner {
    width: 100%;
    max-width: 1200px; /* Optional: Controls max content width */
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logoImage {
  height: 81px;
  width: 314px;
}


.fontlight {
    font-size: 30px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white-smoke);
    
}

.logoImage {
  height: 81px;
  width: auto;
}
