/* (dashboard)/DashboardLayout.module.css */

.layout {
  height: 100vh;
  display: flex;
}

/* Left Sidebar */
.sidebar {
  padding: 1rem;
  width: 14%;
}

@media (min-width: 768px) {
  .sidebar {
    width: 8%;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    width: 16%;
  }
}

@media (min-width: 1280px) {
  .sidebar {
    width: 14%;
  }
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (min-width: 1024px) {
  .logoLink {
    justify-content: flex-start;
  }
}

.logoText {
  display: none;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .logoText {
    display: block;
  }
}

/* Right Content Area */
.content {
  width: 86%;
  background-color: #f7f8fa;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content {
    width: 92%;
  }
}

@media (min-width: 1024px) {
  .content {
    width: 84%;
  }
}

@media (min-width: 1280px) {
  .content {
    width: 86%;
  }
}